#background {
  left: 0px;
  top: 0px;
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  z-index: 0;
}

#Layer4 {
  display: flex;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

#VectorSmartObject {
  top: 270px;
  left: 220px;
  display: flex;
  position: absolute;
  zoom: 120%;
  width: 707px;
  height: 410px;
  z-index: 3;
}

#Shape1 {
  left: -46px;
  top: 143px;
  position: absolute;
  width: 1080px;
  height: 39px;
  z-index: 4;
}

#MARYLAND {
  left: 450px;
  top: 100px;
  position: relative;
  zoom: 150%;
  width: 1920px;
  height: 1080px;
  z-index: 6;
}

#bolinhas2copy2 {
  left: -20px;
  top: 735px;
  position: absolute;
  width: 1061px;
  height: 50px;
  z-index: 7;
}

#COLEOMARYLANDRECU {
  left: 10px;
  top: 154px;
  position: absolute;
  width: 1004px;
  height: 17px;
  z-index: 8;
}

#CURIOSIDADEEOUSADIAE {
  left: 610px;
  top: 270px;
  position: absolute;
  width: 698px;
  height: 13px;
  z-index: 9;
}

#COLEO {
  left: 700px;
  top: 120px;
  position: absolute;
  width: 92px;
  height: 19px;
  z-index: 10;
}

#LOGOEDITORA2013 {
  left: 1600px;
  top: 35px;
  position: absolute;
  width: 213px;
  height: 91px;
  z-index: 11;
}

#LOGOEDITORA2013_0 {
  left: 336px;
  top: 343px;
  position: absolute;
  width: 565px;
  height: 245px;
  z-index: 12;
}
